NEXT_PUBLIC_API_URL=http://localhost:11000
NODE_ENV=development


# Next-auth
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# keycloak
KEYCLOAK_ID=intranet
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=http://10.85.200.106:8085/realms/DPE-PA

PAGE_INIT_LATTE=https://dgp.cnpq.br/dgp/espelhogrupo/2864417251425584

NEXT_PUBLIC_TINY_MCE=asdsadasdsadasd